DATABASE_URL=sqlite+aiosqlite:///database.db # Sqlalchemy путь к Базе данных
GEMINI_API_KEY=GemInIApikeyExample # Gemini API key
GEMINI_MODEL=gemini-2.5-flash # Модель Gemini
BOT_TOKEN=12345678:BotExample_lol # ТГ токен
BOT_URL=https://t.me/example_bot
# PROXY=http://username:password@host:port # Прокси, если вы из СНГ, обязательно настроить!
# ACCESS_TOKEN=asdfghjklcvbnmjfhgufhgh # Необязательный параметр, но если вы хотите использовать 1 и тот-же аккаунт настройте под себя