<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleep · Ai</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <script src="/static/js/script.js" defer></script>
</head>
<body>
    <div class="telegraph-form">
        <h1>Sleep · Ai</h1>

        <div>
            <input type="text" id="title" placeholder="Введите название сна">
        </div>
        <div>
            <textarea id="content" placeholder="Введите содержание сна"></textarea>
        </div>

        <button type="button" onclick="CreateMemory()" id="submitBtn">Создать воспоминание</button>
    </div>

    <div id="loadingOverlay" class="loading-overlay" style="display: none;">
        <div class="spinner"></div>
        <span class="loading-text"></span>
    </div>
</body>
</html>